@charset "utf-8";
/* CSS Document */




.gray-blank {
		height: 100px;
		background: #f1f1f1f1;
		padding-bottom: 5rem;
		margin: 0;
	}


@media (min-width: 368px) {
	
	.logo {
		float: right;
		width: 150px;
		margin-top: 15px;
		margin-right: 10px;
	}
	
	.logo:hover {
		opacity: 0.7;
		width: 130px;
	}
	
	.open, .close {
		display: inline-block;
		padding: 15px 0 0 30px;
		cursor: pointer;
		font-size: 2rem;
		color: rgb(33, 109, 172);
		text-decoration: none;
		transition: 0.5s;
		padding-bottom: 10rem;
	}
	
	.overlay {
		position: fixed;
		width: 0;
		top: 0;
		background-color: #333;
		opacity: 0.7;
		overflow-x: hidden;
		height: 100%;
		transition: 0.5s;
		z-index: 100;
	}
	
	.overlay-content {
		text-align: center;
		position: relative;
		width: 100%;
		padding-top: 50px;
		margin-top: 30px;
	}
	
	.overlay-content a {
		font-size: 2rem;
		color: white;
		display: block;
		padding: 10px;
		margin-bottom: 4px;
		text-decoration: none;
		transition: 0.3s;
		position: relative;
	}
	
	.overlay-content a:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0%;
		transform: translateX(-50%);
		height: 3px;
		background: white;
		transition: 0.3s;
		display: block;
	}
	
	.overlay-content a:hover {
		color: chocolate;
	}
	
	.overlay-contenta:hover:after {
		width: 25%;
	}

	.imageContainer {
		background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url("pictures/pexels-pixabay-159711.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
 		height: 300px;
  		width: 100%;
  		position: relative;
	}
	
	
	.articleWrap {
		background: white;
  		width: 200px;
  		height: 150px;
  		position: absolute;
  		top: 42%;
  		left: 35%;
  		margin: -50px 0 0 -50px;
		border-radius: 16px;
		box-shadow: 20px 20px 100px #000;
		z-index: 1;
		overflow: hidden;
	}
	
	.aritcleHeader h3 {
		text-align: center;
	}
	
	.articleInfo {
		text-align: center;
	}
	
	.hooplaImage {
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: absolute;
		bottom: 0;
		left: 20%;
		margin-bottom: 10px;
	}
	
	.article {
		animation: up 30s linear infinite;
		height: 100%;
	}
	
	@keyframes up {
    	0%{transform:translateY(200%);opacity:1}
    	99%{transform:translateY(-470%);opacity:1}
    	100%{transform:translate(600%, 0%);opacity:0;}    
  }
	
	.slideshow-container {
		position: relative;
		background-color: #f1f1f1f1;
	}
	
	.mySlides {
		padding: 80px;
		text-align: center;
	}
	
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: 30px;
		padding: 16px;
		color: #888;
		font-weight: bold;
		font-size: 20px;
		border-radius: 0 3px 0 3px;
		user-select: none;
		display: none;
	}
	
	.dot-container {
		text-align: center;
		padding: 20px;
	}
	
	.dots {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	
	.active, .dots:hover {
		background-color: #717171;
	}
	
	q {
		font-style: italic;
		font-size: 20px;
	}
	
	.author {
		color: cornflowerblue;
		padding-top: 1rem;
	}
	
	.hours {
		text-align: center;
		padding-top: 3rem;
		padding-bottom: 3rem;
		font-size: 1.2rem;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	}
	
	.buttons-container {
		display: block;
		justify-content: space-between;
		max-width: 1000px;
		margin: auto;
		padding-bottom: 3rem;
	}

	.bubble-container {
		flex: 1;
		background-color: cornflowerblue;
		margin: 10px 8px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-radius: 60px;
		border-bottom: 2px solid black;
	}
	
	.bubble-container:hover {
		background-color: chocolate;
		margin: 12px 10px;
	}
	
	.bubble-container a {
		text-decoration: none;
		text-align: center;
		color: white;
		font-size: 1rem;
	}
	
	.bubble-container a:hover {
		color: black;
	}
	
	.three-picture {
		width: 250px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 20px;
	}
	
	.three-column {
		display: block;
		padding-top: 2rem;
	}
	
	.access, .tax {
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		text-align: center;
		font-size: 1.2rem;
		padding-bottom: 20px;
		text-decoration: none;
	}
	
	.three-header {
		text-align: center;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		padding-bottom: 25px;
		padding-top: 25px;
	}
	
	.three-text {
		text-align: center;
		font-size: 1.2rem;
		font-weight: bold;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	}
	
	.three-info {
		text-align: justify;
		margin-left: 25px;
		margin-right: 25px;
		font-size: 1.1rem;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	}
	
	.picture-column {
		padding-top: 3rem;
		padding-bottom: 5rem;
	}
	
	.pic-con img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.secondary-button {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		padding-bottom: 3rem;
	}
	
	.button {
		padding: 10px 5px;
		border: none;
		background-color: cornflowerblue;
		color: white;
		cursor: pointer;
		font-size: 15px;
	}
	
	.button:hover {
		background-color: chocolate;
	}
	
	.letter-header {
		padding-top: 3rem;
		padding-bottom: 1.3rem;
		font-size: 1.2rem;
		font-weight: bold;
		font-style: italic;
	}
	
	.letter-headerTwo {
		padding-top: 3rem;
		padding-bottom: 5rem;
		padding-left: 3rem;
		font-weight: bold;
		font-style: italic;
		font-size: 1.1rem;
	}
	
	.p-one, .p-two, .p-three {
		padding-bottom: 1.3rem;
		text-align: justify;
		padding-left: 1rem;
		padding-right: 1rem;
		text-indent: 30px;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		font-size: 1rem;
	}
	
	.footer-container {
		height: 50px;
		background-color: #f1f1f1f1;
	}
	
	.copyright {
		padding-top: 25px;
		display: block;
		text-align: center;
		color: black;
		font-weight: bold;
		font-style: italic;
	}
	
}



@media (min-width: 480px) {
	
	
	.articleWrap {
		background: white;
  		width: 200px;
  		height: 150px;
  		position: absolute;
  		top: 42%;
  		left: 40%;
  		margin: -50px 0 0 -50px;
		border-radius: 16px;
		box-shadow: 20px 20px 100px #000;
		z-index: 1;
		overflow: hidden;
	}
	
	
	
	.hooplaImage {
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: absolute;
		bottom: 0;
		left: 29%;
		margin-bottom: 10px;
	}
	
	
	.buttons-container {
		display: block;
		justify-content: space-between;
		max-width: 300px;
		margin: auto;
		padding-bottom: 3rem;
	}
	
}

@media (min-width: 768px) {
	
	.articleWrap {
		background: white;
  		width: 300px;
  		height: 150px;
  		position: absolute;
  		top: 40%;
  		left: 36%;
  		margin: -50px 0 0 -50px;
		border-radius: 16px;
		box-shadow: 20px 20px 100px #000;
		z-index: 1;
		overflow: hidden;
	}
	
	
	
	.hooplaImage {
		width: 250px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: absolute;
		bottom: 0;
		left: 32.5%;
		margin-bottom: 10px;
	}
	
	
	.buttons-container {
		display: block;
		justify-content: space-between;
		max-width: 300px;
		margin: auto;
		padding-bottom: 3rem;
	}
	
	.picture-column {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	
	.pic-con img {
		flex: 1;
		margin: 10px;
	}
}




@media (min-width: 1100px) {
	
	
	.logo {
		float: right;
		width: 250px;
		margin-top: 15px;
		margin-right: 10px;
	}
	
	
	.imageContainer {
		background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url("pictures/pexels-pixabay-159711.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
 		height: 500px;
  		width: 100%;
  		position: relative;
	}
	
	
	
	
	.articleWrap {
		
		background: white;
  		width: 350px;
  		height: 250px;
  		position: absolute;
  		top: 35%;
  		left: 39%;
  		margin: -50px 0 0 -50px;
		border-radius: 16px;
		box-shadow: 20px 20px 100px #000;
		z-index: 1;
		overflow: hidden;
	}
	
	
	
	.hooplaImage {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: absolute;
		bottom: 5%;
		left: 36.5%;
		margin-bottom: 10px;
	}
	
	.letter-header, .letter-headerTwo {
		font-size: 1.4rem;
		margin-left: 20px;
	}
	
	.three-info {
		text-align: center;
		font-size: 1.2rem;
		padding-bottom: 2rem;
	}
	
	.p-one, .p-two, .p-three {
		text-align: left;
		text-indent: 25px;
		margin-right: 10rem;
		font-size: 1.2rem;
	}
	
	.copyright {
		text-align: left;
		margin-left: 10px;
	}
}





@media (min-width: 1382px) {
	
	.logo {
		float: right;
		width: 200px;
		margin-top: 15px;
		margin-right: 10px;
	}
	
	
	.imageContainer {
		background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url("pictures/pexels-pixabay-159711.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
 		height: 500px;
  		width: 100%;
  		position: relative;
	}
	
	
	
	
	.articleWrap {
		
		background: white;
  		width: 350px;
  		height: 250px;
  		position: absolute;
  		top: 35%;
  		left: 40%;
  		margin: -50px 0 0 -50px;
		border-radius: 16px;
		box-shadow: 20px 20px 100px #000;
		z-index: 1;
		overflow: hidden;
	}
	
	
	
	.hooplaImage {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: absolute;
		bottom: 5%;
		left: 38%;
		margin-bottom: 10px;
	}
	
	.letter-header, .letter-headerTwo {
		font-size: 1.2rem;
	}
	
	.three-info {
		text-align: center;
		font-size: 1.2rem;
		padding-bottom: 2rem;
	}
	
	.p-one, .p-two, .p-three {
		font-size: 1.2rem;
	}
	
	.copyright {
		text-align: left;
		margin-left: 10px;
	}
	
	
}


@media (min-width: 1550px) {
	
	
	.logo {
		float: right;
		width: 250px;
		margin-top: 15px;
		margin-right: 10px;
	}
	
	
	.imageContainer {
		background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url("pictures/pexels-pixabay-159711.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
 		height: 500px;
  		width: 100%;
  		position: relative;
	}
	
	
	
	
	.articleWrap {
		
		background: white;
  		width: 350px;
  		height: 250px;
  		position: absolute;
  		top: 35%;
  		left: 43%;
  		margin: -50px 0 0 -50px;
		border-radius: 16px;
		box-shadow: 20px 20px 100px #000;
		z-index: 1;
		overflow: hidden;
	}
	
	
	
	.hooplaImage {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: absolute;
		bottom: 5%;
		left: 41.7%;
		margin-bottom: 10px;
	}
	
	.letter-header, .letter-headerTwo {
		font-size: 1.4rem;
		margin-left: 20px;
	}
	
	.three-info {
		text-align: center;
		font-size: 1.2rem;
		padding-bottom: 2rem;
	}
	
	.p-one, .p-two, .p-three {
		text-align: left;
		text-indent: 25px;
		margin-right: 10rem;
		font-size: 1.2rem;
	}
	
	.copyright {
		text-align: left;
		margin-left: 10px;
	}
}